$project_page_item_background_color: $grayscale_30;
$project_page_item_title_color: $grayscale_60;
$project_page_item_content_color: $grayscale_50;
$project_page_item_content_title_color: $grayscale_60;