@import "_variables.scss";

.project {
  .project_panel {
    display: flex;
    padding: 32px;
    gap: 12px;
    flex-wrap: wrap;

    .project_item {
      display: flex;
      flex: 1 1 40%;
      height: 180px;
      background-color: $project_page_item_background_color;
    }
  }
}