@import "_variables.scss";

header {
  position: fixed;
  height: 64px;
  display: flex;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  input[type="checkbox"] {
    display: none;

    &:checked + div .sidebar {
      transform: translateX(0);
    }

    &:checked + div .sidebar_background {
      transform: translateX(0);
    }

    &:checked + div .header_toggle {
      transform: translateX(-114px);
    }
  }
  
  div {
    display: flex;
    margin: 0 auto;
    width: 1280px;

    .header_toggle {
      display: none;

      @include tablet {
        display: block;
        padding: 16px 0 16px 22px;
        margin-left: auto;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        z-index: 3;

        img {
          height: 31px;
        }
      }
    }

    .sidebar {
      .sidebar_logo_link {
        display: none;

        @include tablet {
          margin-bottom: 20px;
          display: flex;
          gap: 12px;
          font-size: 20px;
        }
      }

      @include tablet {
        width: 200px !important;
        padding: 60px 20px !important;

        height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        background-color: $grayscale_10;
        transition: transform 0.3s ease-in-out;
        z-index: 1;
      }
    }

    .sidebar_background {
      display: none;

      @include tablet {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
      }
    }

    .header_menu {
      color: $header_text_color;
      display: flex;
      padding: 10px;
      font-size: 17px;
      font-weight: $font_medium;
      align-items: center;
      opacity: 0.75;

      img {
        height: 45px;
      }

      @include tablet {
        color: $grayscale_70;
      }
    }
    
    .header_logo_link {
      padding: 16px 22px 16px 0;
      opacity: 0.75;
    
      .header_logo {
        height: 31px;
      }
    }

    .header_login {
      margin-left: auto;
      cursor: pointer;
      
      @include tablet {
        display: none;
      }
    }
    
    .router-link-active {
      opacity: 1 !important;
    }
  }
}

@media screen and (max-width: 1344px) {
  header {
    div {
      width: 100%;
      padding: 0 32px;
    }
  }
}