@import "_variables.scss";

header {
  position: fixed;
  height: 64px;
  display: flex;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  div {
    display: flex;
    margin: 0 auto;
    width: 1280px;

    .header_menu {
      color: $header_text_color;
      display: flex;
      padding: 10px;
      font-size: 17px;
      font-weight: $font_medium;
      align-items: center;
      opacity: 0.75;

      @include tablet {
        display: none;
      }
    }
    
    .header_logo_link {
      padding: 16px 22px 16px 0;
      opacity: 0.75;
    
      .header_logo {
        height: 31px;
      }
    }

    .header_login {
      margin-left: auto;
      cursor: pointer;
    }
    
    .router-link-active {
      opacity: 1 !important;
    }
  }
}

@media screen and (max-width: 1344px) {
  header {
    div {
      width: 100%;
      padding: 0 32px;
    }
  }
}