@import "_variables.scss";

.notice_detail {

  .title_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title_panel_left {
      width: 70%;
      
      .title {
        @include ellipsis;
      }
  
      .sub_title {
        cursor: pointer;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 4px;

      p {
        color: $notice_detail_page_info_text_color;
        
        @include ellipsis;

        span {
          color: $notice_detail_page_info_constant_color;
        }
      }
    }
  }

  .notice_detail_panel {
    padding: 36px 32px;

    .content {
      color: $notice_detail_page_content_text_color;
      white-space: pre-line;
      word-break: break-all;
    }
  }
}