@import "_variables.scss";

.notice_detail {

  .title_panel {
    display: flex;
    justify-content: space-between;

    .title_panel_left {
      width: 70%;

      @include tablet {
        width: 60%;
      }
    }

    .title {
      @include ellipsis;
    }

    .sub_title {
      cursor: pointer;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 4px;

      p {
        color: $notice_detail_page_info_text_color;
        
        @include ellipsis;

        span {
          color: $notice_detail_page_info_constant_color;
        }
      }

      @include tablet {
        display: none;
      }
    }
  }

  .notice_detail_panel {
    padding: 36px 32px;

    .content {
      color: $notice_detail_page_content_text_color;
      white-space: pre-line;
      word-break: break-all;
    }
  }
}

.notice_function {
  display: flex;
  margin-top: 40px;
  padding: 24px 32px;
  border-top: 1px solid $grayscale_40;
  gap: 36px;
  flex-wrap: wrap;

  .paging {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex: 1;
  }

  .admin {
    display: flex;
    gap: 16px;
    width: auto;
  }

  button {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 16px;
    background-color: $grayscale_40;
    color: $grayscale_50;
    border-radius: 8px;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
  }
}