header{
    position: fixed;
    height: 70px;
    display: flex;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: var(--header_color);
    padding: 0 120px;
    z-index: 1000;
    left: 0;
    right: 0;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
    &_menu{
        color: var(--white_1);
        display: flex;
        padding:15px;
        font-size: 14px;
        align-items: center;
        transition: 0.2s;
        mix-blend-mode: luminosity;
        font-weight: 500;
    }

    &_menu:hover{
        background-color: var(--header_hover);
    }

    &_logo{
        height: 48px;
        margin: 12px 20px 0 0;
    }
}