@import "_variables.scss";
@import "_mixins.scss";

.notice {
  display: flex;
  flex-direction: column;
  height: 720px;

  @include mobile {
    height: 570px;
  }

  .notice_list_panel {
    padding: 0 32px;

    .category {
      display: flex;
      margin-top: 12px;
      padding: 12px 0;
      gap: 32px;
      color: $notice_page_category_text_color;
  
      @include line;

      @include tablet {
        @include line_tablet;
      }

      @include mobile {
        margin: 0;
        padding: 12px 24px;
      }
    }

    @include mobile {
      padding: 0;
    }
  }

  .notice_list_item {
    display: flex;
    padding: 12px 0;
    gap: 32px;
    border-top: 1px solid $notice_page_thead_border_color;
    color: $notice_page_tbody_text_color;
    cursor: pointer;

    p {
      @include ellipsis;
    }
  
    @include line;

    @include tablet {
      @include line_tablet;
    }

    @include mobile {
      padding: 12px 24px;
    }
  }
}