@import "_variables.scss";

.project {
  display: flex;
  flex-direction: column;

  .project_panel {
    display: flex;
    padding: 32px;
    gap: 12px;
    padding-bottom: 118px;
    flex-wrap: wrap;

    @include tablet {
      padding-bottom: 82px;
    }

    .project_item {
      display: flex;
      width: 49.5%;
      height: 180px;
      background-color: $project_page_item_background_color;
      border-radius: 8px;

      @include tablet {
        width: 100%;
        height: 120px;
      }

      .img_panel {
        padding: 16px;

        img {
          width: 150px;
          height: 150px;

          @include tablet {
            width: 80px;
            height: 80px;
          }
        }
      }

      .content_panel {
        padding: 24px 24px 24px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 0%;
        flex: 1;

        .title {
          font-size: 20px;
          font-weight: $font_medium;
          color: $project_page_item_title_color;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 6px;

          p {
            font-size: 16px;
            font-weight: $font_medium;
            color: $project_page_item_content_color;

            @include ellipsis;

            @include tablet {
              font-size: 14px;
            }

            &:nth-child(2) {
              display: block;
              font-size: 14px;
            }
            
            &:nth-child(4) {
              display: block;
              font-size: 14px;
            }
  
            span {
              margin-right: 8px;
              color: $project_page_item_content_title_color;
            }

            @include tablet {
              display: none;
              width: 100% ;
            }
          }
        }
      }
    }
  }
}