@import "_variables.scss";

.main {
  display: flex;
  align-items:flex-start;

  .panel {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 32px auto;
    border-radius: 8px;
    background-color: $main_panel_background_color;
    width: 1280px;
    overflow-y: auto;

    .title_panel {
      display: flex;
      justify-content: space-between;
      padding: 28px 32px;
      background-color: $title_background_color;
  
      div {
        .title {
          font-size: 28px;
          font-weight: $font_semi_bold;
          color: $title_color;
        }
      
        .sub_title {
          margin-top: 10px;
          font-size: 16px;
          font-weight: $font_medium;
          color: $sub_title_color;
        }
      }

      .write_notice {
        height: 36px;
        background-color: $write_notice_background_color;
        color: $write_notice_text_color;
        border-radius: 8px;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1344px) {
  .main {
    .panel {
      margin: 32px;
    }
  }
}