@import "_variables.scss";

.main {
  display: flex;
  align-items:flex-start;

  .panel {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 32px auto;
    border-radius: 8px;
    background-color: $main_panel_background_color;
    width: 1280px;
    overflow-y: auto;

    .title_panel {
      padding: 28px 32px;
      background-color: $title_background_color;
  
      .title {
        font-size: 28px;
        font-weight: $font_semi_bold;
        color: $title_color;
      }
    
      .sub_title {
        margin-top: 10px;
        font-size: 16px;
        font-weight: $font_medium;
        color: $sub_title_color;
      }
    }
  }
}

@media screen and (max-width: 1344px) {
  .main {
    .panel {
      margin: 32px;
    }
  }
}