@import "_variables.scss";

.main {
  display: flex;
  align-items:flex-start;

  .panel {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    padding: 24px 38px 36px;
    border-radius: 16px;
    background-color: $main_panel_background_color;
    width: 1300px;
    height: 800px;
    overflow-y: auto;
  }
}
