@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

$font_thin: 100;
$font_extra_light: 200;
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semi_bold: 600;
$font_bold: 700;
$font_extra_bold: 800;
$font_black: 900;
