$grayscale_10: #131313;
$grayscale_20: #1B1B1B;
$grayscale_30: #222222;
$grayscale_40: #262626;
$grayscale_50: #a3a3a3;
$grayscale_60: #d9d9d9;
$grayscale_70: #ffffff;
$body_color: $grayscale_10;

$breakpoint-mobile: 420px;
$breakpoint-tablet: 800px;