@import "_animations";
@import "_fonts";
@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-user-drag: none;
  color: inherit;
  border: none;
  background: none;
  text-align: left;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: $grayscale_50;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background: $grayscale_30;
    border-radius: 4px;
  }
}

#app {
  padding-top: 70px;
}

body {
  background-color: $body_color;
}

img {
  -webkit-user-drag: none;
}
