@import "_variables.scss";

.background_img {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("@/assets/images/background24.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  .main_panel {
    user-select: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
      .sub_title {
        text-align: center;
        color: $main_page_sub_title_text_color;
        font-size: 24px;
        font-weight: $font_medium;

        @include tablet {
          font-size: 22px;
        }

        @include mobile {
          font-size: 18px;
        }
      }

      .main_title {
        color: $main_page_main_title_text_color;
        font-size: 96px;
        font-weight: $font_semi_bold;
        word-break: keep-all;

        display: flex;
        align-items: center;
        gap: 10px;

        @include tablet {
          font-size: 72px;

          img {
            width: 72px;
            height: 72px;
          }
        }

        @include mobile {
          font-size: 48px;

          img {
            width: 48px;
            height: 48px;
          }
        }
      }
    }
  }
}
