@import "_variables.scss";

.background_img {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-image: url("@/assets/images/background.png");
  background-size: 1920px 1080px;
  background-repeat: no-repeat;

  .main_panel {
    margin-left: 120px;
    margin-top: 130px;
    width: 828px;
    user-select: none;
    opacity: 0;
    animation-duration: 1s;
    animation-name: fadeInBottom;
    animation-fill-mode: both;

    hr {
      &:first-child {
        border: 5px solid $main_page_title_text_color;
        width: 500px;
        box-shadow: 12px 11px 6px 0 rgba(0, 0, 0, 0.3);
      }
    
      &:last-child {
        border: 5px solid $main_page_title_text_color;
        width: 500px;
        margin-left: 328px;
        box-shadow: 12px 11px 6px 0 rgba(0, 0, 0, 0.3);
      }
    }
    
    .main_title {
      font-size: 100px;
      font-weight: $font_regular;
      color: $main_page_title_text_color;
      line-height: 120px;
      text-align: right;
      margin: 15px 0;
      text-shadow: 12px 11px 6px rgba(0, 0, 0, 0.3);
    }
  }
}